@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #7a7f9d;
}

::-webkit-scrollbar-thumb {
  background: #0e0f15;
}
